.logo {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.logo:hover{
    color: white;
}
.menu {
    text-decoration: none;
    margin-left: 40px;
    color: white;
}
.menu:hover{
    color:gray;
}

.icono {
    color:white;
    margin-right: 55px;
    font-size: 30px
}

.containerItem{
    display: flex;
    flex-direction: row;
}

.imagendetail {
    height: 200px;
}

.card {
    display: flex;
    flex-direction: row;
}

.containerCart-row{
display: flex;
flex-direction: row;
justify-content: flex-start;
}
