
/* navbar */
.logo {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.logo:hover{
    color:gold;
}
.menu {
    text-decoration: none;
    margin-left: 40px;
    color: white;
}
.menu:hover{
    color:gold;
}

.numero{
    text-decoration:none;
    color:white;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
}

.numero2 {
    text-decoration: none;
}
/* item (card) */
.card{
margin: 40px;
}
.imagenItem{
    height: 300px;
    width: 300px !important;
}

/* CartWidget */
.icono {
    color:white;
    margin-right: 55px;
    font-size: 30px
}

/* ItemDetail */
.containerItem{
    display: flex;
    flex-direction: row;
}

.imagendetail {
    height: 550px;
    width: 700px;
}

p{
    font-size: 20px;
}
/* Cart */

h1{
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px;
}
.containerCart{
    display: flex;
    justify-content: space-around;
align-items: center;
}

.cartImagen{
    width: 120px ;
}
.inputCart{
    width: 300px;
    height: 40px;
}
.botonCart{
    background-color:gold;
    color:black;
    border-radius: 5px;
    height: 35px;
    border-style: none;
}

.FormContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.formCart{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sectionCart{
display: flex;
justify-content:center;
padding: 20px;
}


.preciototal{
    margin-left: 20px;
    font-weight: bold;
}
.vaciarcarrito{
margin-top: 10px;
margin-left: 10px;
}
.idcompra {
    font-weight:bold;
    margin-left: 20px;
}
/* App */
.index{
    background-color:white;
    height: 625px;
}
/* ItemList */
.containerItemList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

