.logo {
    font-size: 50px;
    margin: 10px;
}

.menu {
    font-size: 20px;
    margin-left: 400px;
}

.icono {
    color:black;
    margin-right: 55px;
    font-size: 30px
}

.navegador {

    background-color:lightskyblue;
}

